::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #cccccc;
}

::-webkit-scrollbar-thumb {
    background: #5e3e27;
    min-width: 20px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f2410;
}
